*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: auto;
}

header {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
  padding-inline: 20px;
}
.header-right p {
  padding: 5px 0px;
  text-decoration: none;
}

.header-right a {
  color: black;
}

.header-title {
  text-align: center;
}

.header-title h1 {
  margin: 0;
}

.header-title p {
  margin: 5px 0;
}

img {
  width: 200px; /* Dostosuj rozmiar zdjęcia według potrzeb */
  height: auto; /* Dostosuj rozmiar zdjęcia według potrzeb */
  border-radius: 50%;
  
}



h1 {
  color: #333;
  margin: 0;
}

p {
  color: #666;
  margin: 0;
}

.non-decorate {
  text-decoration: none;
}

.section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects a {
  color: black;
  font-weight: 300;
  font-size: 20px;
}

.skills {
  font-weight: bold;
}

.skills ul {
  list-style-type: disc;
  padding-left: 20px;
}

.skills li {
  margin: 5px 0;
}

h3 {
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}